.signup-page{
    width: 100%;
    margin: auto;
}
.signup-page h2{
    margin: 20px;
    font-size: 20px;
}
.signup-page h2 img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.signup-container{
    width: 60%;
    margin: 0 auto;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
.signup-left{
    width: 500px;
    border-radius: 12px;
    box-shadow: 0 0 5px 0 #443f3f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.signup-left h3{
    font-size: 18px;
    margin: 10px 0;
}
.signup-left p{
    font-size: 14px;
    margin-bottom: 10px;
}
.policy{
    display: flex;
    align-items: center;
    justify-content: center;
}
.policy input{
    margin-right: 10px;
    margin-top: 20px;
}
.signup-form{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.signup-form input{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}
.signup-form input:focus{
    border: 1px solid #003D6B;
    transition: all 0.5s ease;
}
.names-container{
    width: 100%;
    display: flex;
    gap: 10px;
}
.names-container input{
    width: 50%;
}
.password-input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .password-input-wrapper input {
    padding-right: 30px;
    width: 100%;
  }
  
  .password-input-wrapper i {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
.signup-form button{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background-color:  #003D6B;
    color: #F5F5F5;
    cursor: pointer;
    transition: all 0.5s ease;
}
.signup-form button:hover{
    background-color: #F5F5F5;
    color: #003D6B;
    border: 1px solid #003D6B;
    transition: all 0.5s ease;
}
.signup-form p{
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
}
.signup-form .signup-alts{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.signup-right img{
    width: 600px;
    height: 600px;
}